@use "../variables";
@use "../mixins";

.diplomas {
  background-color: variables.$black;
}

.diplomas__wrapper {
  @include mixins.wrapperPhone;
  padding: 0 2rem 2rem 2rem;
}

.diplomas__heading {
  @include mixins.sectionHeadingMobile;
  padding: 1rem 0 2rem 0;
}

.diplomas__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -3rem;
}

.diplomas__diploma-card {
  margin-top: 3rem;
}

.diplomas__more-button {
  margin: 3rem auto 0 auto;
}

.diplomas__page-controls {
  display: none;
}

@media (min-width: variables.$sm) {
  .diplomas__wrapper {
    @include mixins.wrapperTablet;
  }

  .diplomas__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -2.5rem;
  }

  .diplomas__diploma-card {
    margin-top: 2.5rem;
  }

  .diplomas__heading {
    @include mixins.sectionHeadingDesktop;
  }
}

@media (min-width: variables.$md) {
  .diplomas__wrapper {
    @include mixins.wrapperDesktop;
  }

  .diplomas__more-button {
    display: none;
  }

  .diplomas__page-controls {
    display: flex;
    margin-top: 2.5rem;
  }
}
