@use "../variables";
@use "../mixins";

.login__wrapper {
  @include mixins.wrapperPhone;
}

.login__heading {
  @include mixins.sectionHeadingMobile;
}

.login__text {
  color: variables.$blue-bright;
  font-size: 1.8rem;
  font-weight: 600;
}

.login__link {
  color: variables.$grey;
  text-decoration: none;
}

.login__form {
  margin-top: 1rem;
}

@media (min-width: variables.$sm) {
  .login__wrapper {
    @include mixins.wrapperTablet;
  }

  .login__heading {
    @include mixins.sectionHeadingDesktop;
  }
}

@media (min-width: variables.$md) {
  .login__wrapper {
    @include mixins.wrapperDesktop
  }
}
