@use "../variables";
@use "../mixins";


.registration__wrapper {
  @include mixins.wrapperPhone;
}

.registration__heading {
  @include mixins.sectionHeadingMobile;
  padding: 1rem 0 1rem 0;
}

.registration__text {
  color: variables.$blue-bright;
  font-size: 1.8rem;
  font-weight: 600;
}

.registration__link {
  color: variables.$grey;
  text-decoration: none;
}

.registration__form {
  margin-top: 1rem;
}

@media (min-width: variables.$sm) {
  .registration__wrapper {
    @include mixins.wrapperTablet;
  }

  .registration__heading {
    @include mixins.sectionHeadingDesktop;
  }
}

@media (min-width: variables.$md) {
  .registration__wrapper {
    @include mixins.wrapperDesktop
  }
}
